/* Shared css */
*{
    margin: 0;
    /* background-color: aliceblue; */
}

body{
    background-color: #F5F5F5;
}

/* navbar css starts */

nav{
    padding: 10px 0px;
    margin: 50px 150px;
}

nav ul{
    display: flex;
    justify-content: space-between;
    

    font-family: Fira Sans;
}

.bd-title{
    font-size: 32px;
    font-weight: 700;
}

nav a{
    text-decoration: none;
    color:rgb(0, 106, 80);
    font-size: 18px;
    font-weight: 700;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 48;
    padding: 15px 30px;
    
    
    
}

nav li{
    list-style: none;
}

nav li button{
    border: 1px solid green;
    border-radius: 5px;
    background-color: white;

    
}

.hover-link:hover{
    background-color: blueviolet;
}




/* banner css starts */



.banner-container{
    width: auto;
    height: 560px;
    background-color: #C6E4D6;
    /* padding: 100px 200px; */
    margin: 50px 150px;

    border-radius: 24px;
    
}

.banner-sub-container{
    
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.banner-contents{
    margin-top: 50px;
    margin-left: 50px;
}


.banner-contents h4{
    font-size: 24px;
    font-family: Fira Sans;
    font-weight: 500;
    color: rgba(14, 14, 14, 0.5);
}

.banner-contents p{
    font-family: Fira Sans;
    font-size: 50px;
    font-weight: 700;
}

.banner-contents button{
    background-color: #006A50;
    border: none;
    padding: 17px 34px;
    margin-top: 24px;
    border-radius: 8px;
}

.banner-contents a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    justify-content: center;

}

.banner-image{
    margin-top: 50px;
    margin-right: 50px;
}



/* Vision CSS starts */

.vision-container{
    width: auto;
    margin-bottom: 40px;
    /* border: 5px solid red; */
    padding: 5px 130px;
}

.vision-title,.vision-description{
    font-family: Fira Sans;

    margin-left: auto; 
    margin-right: auto; 
    text-align: justify;
}

.vision-title{

    font-size: 44px;
    font-weight: 800;

    margin-top: 24px;
    margin-bottom: 10px;
    color: #0E0E0E;
}

.vision-description{
    font-size: 16px;
    font-weight: 400;

    margin-top: 10px;
    margin-bottom: 30px;
    color: rgba(14, 14, 14, 0.7);
}


.vision-cards{
    width: auto;

    /* border: 10px solid green; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    
    margin: auto auto;

    
    

    /* gap: 100px; */
}


.vision-card1,.vision-card2,.vision-card3{
    width: 410px;
    height: 325px;
    border-radius: 16px;
}

.vision-card1{
    background-color: rgba(84, 144, 245, 0.2);
    
}

.vision-card2{
    background-color: rgba(198, 228, 214, 1);
}

.vision-card3{
    background: rgba(247, 235, 207, 1);
}

.vision-cards .card-title{


    font-family: Fira Sans;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
}


.vision-cards .card-description{

    font-family: Fira Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0%;
    text-align: left;
    color: rgba(14,14,14,0.7);
}

.card-button1{
    background-color: rgb(84, 144, 245);
    
    
}

.card-button2{
    background-color: rgb(9, 161, 92);
}

.card-button3{
    background-color: rgb(255, 194, 57);
}



.card-button1,.card-button2,.card-button3{
    border-radius: 8px;
    border: none;
    padding: 11px 20px;
}


.card-button1 a,.card-button2 a,.card-button3 a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-weight: 600;
}



.vision-card-contents{
    padding: 32px 32px;
    
}

.card-image,.card-title,.card-description,.card-button{
    margin-bottom: 18px;
}


/* quotation css starts */

.quotation-container{
    width: auto;
    height: 300px;
    /* border: 5px solid purple; */
    border-radius: 16px;
    background-color: white;
    background-image: url('../assets/quote-bg.png');
    background-repeat: no-repeat;
    background-position: 20px 10px;
    margin: 0px 130px;
    margin-bottom: 100px;
}


.quotation-description{
    font-family: Fira Sans;
    font-size: 18px;
    color: rgba(14, 14, 14, 0.8);

    text-align: justify;
    padding: 38px 21px;
}

.quotation-speaker{
    font-family: Fira Sans;
    font-size: 20px;
    margin: 0px 0px 10px 21px;
    color: rgba(14, 14, 14, 0.8);
}

.quotation-rank{
    font-family: Fira Sans;
    font-size: 16px;
    margin-left: 21px;
    color: rgba(14, 14, 14, 0.6);
}